@page
@model Tickets.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row align-content-center">
    @for (int i = 0; i < 5; i++)
    {

        <div class="card text-white bg-danger mb-3 mr-1 ml-3" style="max-width: 18rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <p class="card-text">დროებით პრობლემა გვაქვს ბალანსის შევსებაზე.</p>
            </div>
        </div>
    }
</div>


